* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a,
button {
  all: unset;
  cursor: pointer;
}
body {
  font-family: "Monserrat";
}
h1 {
  font-size: 80px;
  font-weight: 700;
}
h2 {
  font-size: 60px;
  font-weight: 700;
}
h3 {
  font-size: 25px;
  font-weight: 500;
}
h4 {
  font-size: 15px;
  font-weight: 500;
  color: #737373;
}
h6 {
  font-size: 25px;
  font-weight: 100;
  width: 70%;
  margin-top: 50px;
  color: #737373;
}
p {
  font-size: 20px;
}

/* SECTION 1 STARTS HERE */
#first {
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/hero-bg.jpeg);
  background-size: cover;
  background-position: center;
}
.wrapper {
  width: 80%;
  height: 100%;
  background-color: none;
  margin: 0 auto;
}
.top {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.t-left {
  width: 45%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 70px;
}
.brand {
  font-size: 25px;
  font-weight: 600;
}
.nav {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  justify-content: start;
  gap: 30px;
}

.t-right {
  width: 30%;
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 20px;
  font-weight: 500;
}
.member {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #23a6f0;
  padding: 20px 30px;
  border-radius: 5px;
  margin-left: 50px;
}

.member > img {
  width: 10px;
  margin-left: 10px;
}
#first > .wrapper > .mid {
  width: 60%;
  height: 400px;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5%;
}

#first > .wrapper > .bot {
  width: 40%;
  background-color: none;
  display: flex;
  justify-content: start;
}
.quote {
  background-color: #23a6f0;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 100px;
}
.learn {
  background-color: none;
  border: 2px solid #23a6f0;
  color: #23a6f0;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 40px;
  border-radius: 100px;
  margin-left: 20px;
}

/* SECTION 2 STARTS HERE */
#second {
  width: 100%;
  height: 780px;
  background-color: #fafafa;
}
#second > .wrapper > .top {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
}
#second > .wrapper > .mid {
  width: 100%;
  height: 50%;
  background-color: none;
  display: flex;
  justify-content: space-between;
  gap: 2.5%;
  flex-wrap: wrap;
  align-content: center;
  row-gap: 10%;
}
.client {
  width: 31%;
  height: 30%;
  background-color: white;
  display: flex;
  align-items: center;
}
.client > .c-img {
  width: 19.5%;
  height: 57%;
  background-color: #23a6f0;
  border-radius: 100px;
  padding: 1%;
  margin: 0 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.client > .c-img > img {
  width: 50%;
}
.client > .c-text {
  width: 30%;
  color: #737373;
}

/* THIRD SECTION STARTS */

#third {
  width: 100%;
  height: 760px;
  background-color: white;
  display: flex;
  justify-content: center;
}
#third > .wrapper > .top {
  width: 100%;
  height: 30%;
  background-color: none;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  text-align: center;
}
#third > .wrapper > .mid {
  width: 100%;
  height: 50%;
  background-color: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.m-left {
  width: 40%;
  height: 80%;
  background-color: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
.m-right {
  width: 40%;
  height: 80%;
  background-color: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
.cl-profile {
  height: 80%;
}
.cl-details {
  margin-left: 30px;
}
.rate > img {
  width: 15px;
  margin: 10px 0;
}
.rate > p {
  color: #737373;
  font-size: 15px;
  width: 60%;
  line-height: 1.2em;
}

/* FORTH SECTION STARTS */

#forth {
  width: 100%;
  height: 250px;
  background-color: #252b42;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#forth > .wrapper {
  background-color: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  width: 40%;
}
.left h4 {
  color: #cdc7c7;
  margin-top: 20px;
}
.right {
  background-color: none;
  width: 50%;
  text-align: right;
  display: flex;
  justify-content: end;
  align-items: center;
}
.right > input {
  border: 1px solid #c8c7c7;
}
.email-input {
  width: 60%;
  height: 50px;
  font-size: 20px;
  border-radius: 10px 0 0 10px;
  padding-left: 2%;
}
.submit-input {
  width: 20%;
  height: 50px;
  background-color: #23a6f0;
  color: white;
  text-align: center;
  border-radius: 0 10px 10px 0;
  font-size: 20px;
  cursor: pointer;
}

/* FIFTH SECTION STARTS */

#footer {
  width: 100%;
  height: 60px;
}
#footer > .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.socmed {
  padding-right: 100px;
  width: 15%;
  display: flex;
  justify-content: start;
  gap: 10px;
}
.socmed > img {
  width: 100%;
  height: 100%;
}
